.result-content {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  width: 300px;
  background-color: lightgray;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}

.card-content {
  border-top: 1px solid white;
  padding-top: 20px;
}

.see-more-btn {
  color: white;
  background-color: green;
}

.scores {
  font-size: medium;

  &-highlighted {
    font-weight: bold;
  }
}
